<div>
    <div *ngIf="isLoading; else loaded">
        <app-loading />
    </div>
    <ng-template #loaded>
        <ng-container *ngIf="charts.length > 0; else emptyList">
            <ng-container *ngFor="let chart of charts">
                <app-account-chart [accountChart]="chart" />
            </ng-container>
        </ng-container>
        <ng-template #emptyList>
            <div class="bg-color-dark-grey-lighter-20 rounded-lg p-4">
                <div>{{ 'charts.empty' | $t }}</div>
                <div>
                    <div class="button button-primary" role="button" (click)="addChart()">{{ 'charts.add' | $t }}</div>
                </div>
            </div>
        </ng-template>
    </ng-template>
</div>