<section class="page-content large-screen">
    <section class="large-screen-placeholder"></section>
    <section class="content large-screen-main">
        <div *ngIf="isLoading; else loaded">
            <app-loading />
        </div>
        <ng-template #loaded>
            <section>
                <section class="track-details-top-container flex mt-3 bg-color-dark-grey-lighter-10 px-4 py-3 rounded-lg">
                    <div class="track-details-top-image image-container flex justify-content-center align-self-center">
                        <img loading="eager" [src]="getImageUrl()" />
                    </div>
                    <div class="ml-6 align-self-center">
                        <div>
                            <ng-container *ngFor="let artist of getArtists()">
                                <span class="text-lg pointer hover:text-primary inline-block mr-3" role="link" (click)="goToArtist(artist.id, artist.name)">{{ artist.name }}</span>
                            </ng-container>
                        </div>
                        <div class="bold text-xl">{{ getName() }}</div>
                        <div class="text-sm mt-3">{{ getAlbum() }}</div>
                    </div>
                </section>
                <ng-container *ngIf="hasChartEntries()">
                    <section class="mt-6 bg-color-dark-grey-lighter-10 pt-4 pb-3 px-2 rounded-lg">
                        <div class="bold text-md pl-1 mb-4">{{ 'charts.entries' | $t }}</div>
                        <ng-container *ngFor="let chartEntry of getChartEntries()">
                            <div class="px-1 py-2 mt-4 flex bg-color-dark-grey-lighter-20 hover:bg-color-dark-grey-lighter-30 transition-colors rounded-md pointer align-items-center" (click)="goToChartDetails(chartEntry.chart.id, chartEntry.chart.name)">
                                <div class="bold ml-3 mr-4 px-2 py-1 rounded" [ngClass]="getChartEntryPlaceBackgroundColor(chartEntry.place)">{{ chartEntry.place }}</div>
                                <div>{{ chartEntry.chart.name }}</div>
                            </div>
                        </ng-container>
                    </section>
                </ng-container>
                <section class="mt-6 bg-color-dark-grey-lighter-10 pt-4 pb-3 rounded-lg">
                    <div class="bold text-md pl-3 mb-6">{{ 'played.stats' | $t }}</div>
                    <div class="flex">
                        <div class="flex-auto align-self-center">
                            <div class="border-r-1 border-r-solid border-r-white">
                                <div class="bold text-md center">{{ getTimesPlayed() }}</div>
                                <div class="uppercase text-xs mt-2 center">{{ 'played.times' | $t }}</div>
                            </div>
                        </div>
                        <div class="flex-auto align-self-center">
                            <div class="border-r-1 border-r-solid border-r-white">
                                <div class="bold text-md center">{{ getFirstPlayedAt() !== null ? (getFirstPlayedAt() | date) : '-' }}</div>
                                <div class="uppercase text-xs mt-2 center">{{ 'played.first' | $t }}</div>
                            </div>
                        </div>
                        <div class="flex-auto align-self-center">
                            <div>
                                <div class="bold text-md center">{{ getLastPlayedAt() !== null ? (getLastPlayedAt() | date) : '-' }}</div>
                                <div class="uppercase text-xs mt-2 center">{{ 'played.last' | $t }}</div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mt-6 bg-color-dark-grey-lighter-10 pt-4 pb-3 px-2 rounded-lg">
                    <div class="bold text-md pl-1 mb-4">{{ 'played.history' | $t }}</div>
                    <ng-container *ngIf="isTrackHistoryLoading; else loadedHistory">
                        <app-loading />
                    </ng-container>
                    <ng-template #loadedHistory>
                        <div>
                            <div *ngFor="let entry of trackHistory" class="bg-color-dark-grey-lighter-20 rounded p-2 mt-2 flex justify-content-between">
                                <div>{{ entry.playedAt | date:'medium' }}</div>
                                <div class="mr-2">
                                    <app-toggle-checkbox [title]="'includeInStatistics' | $t" [checked]="entry.includeInStatistics" (valueChange)="onToggleChange($event, entry)" />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </section>
            </section>
        </ng-template>
    </section>
    <section class="large-screen-placeholder"></section>
</section>
