<section class="page-content large-screen">
    <section class="large-screen-placeholder"></section>
    <section class="content large-screen-main">
        <section class="page-content-header flex">
            <div class="title flex-auto">{{ 'profile.title' | $t }}</div>
        </section>
        <section class="page-content-main mt-2">
            <div class="text-lg">{{ 'signed.in.as' | $t }} <span class="bold text-primary">{{ username }}</span></div>

            <section class="mt-6">
                <div class="section-title mb-4">{{ 'connectedAccounts.title' | $t }}</div>
                <div>
                    <app-loading *ngIf="loading; else loadedContent" />
                    <ng-template #loadedContent>
                        <ng-container *ngIf="accountTokens.length > 0; else emptyList">
                            <ng-container *ngFor="let accountToken of accountTokens">
                                <app-account-token [accountToken]="accountToken" (onDelete)="confirmAccountTokenDeletion($event)" />
                            </ng-container>
                        </ng-container>
                        <ng-template #emptyList>
                            <div class="mt-2">{{ 'connectedAccounts.empty' | $t }}</div>
                            <div>
                                <div class="spotify-button mt-2" role="button" (click)="connectSpotify()">{{ 'connect.spotify' | $t }}</div>
                            </div>
                        </ng-template>
                    </ng-template>
                </div>
            </section>
        </section>
    </section>
    <section class="large-screen-placeholder"></section>
</section>