<section class="page-content large-screen">
    <section class="large-screen-placeholder"></section>
    <section class="content large-screen-main">
        <div *ngIf="isLoading; else loaded">
            <app-loading />
        </div>
        <ng-template #loaded>
            <section>
                <section class="artist-details-top-container flex mt-3 bg-color-dark-grey-lighter-10 px-4 py-3 rounded-lg">
                    <div class="artist-details-top-image image-container flex justify-content-center align-self-center">
                        <img loading="eager" [src]="getImageUrl()" />
                    </div>
                    <div class="ml-6 align-self-center">
                        <div class="bold text-xl">{{ getName() }}</div>
                    </div>
                </section>
                <ng-container *ngIf="hasChartEntries()">
                    <section class="mt-6 bg-color-dark-grey-lighter-10 pt-4 pb-3 px-2 rounded-lg">
                        <div class="bold text-md pl-1 mb-4">{{ 'charts.entries' | $t }}</div>
                        <ng-container *ngFor="let chartEntry of getChartEntries()">
                            <app-artist-details-chart-item [item]="chartEntry" />
                        </ng-container>
                    </section>
                </ng-container>
                <section class="mt-6 bg-color-dark-grey-lighter-10 pt-4 pb-3 rounded-lg">
                    <div class="bold text-md pl-3 mb-6">{{ 'played.stats' | $t }}</div>
                    <div class="flex">
                        <div class="flex-auto align-self-center">
                            <div class="border-r-1 border-r-solid border-r-white">
                                <div class="bold text-md center">{{ getTimesPlayed() }}</div>
                                <div class="uppercase text-xs mt-2 center">{{ 'played.times' | $t }}</div>
                            </div>
                        </div>
                        <div class="flex-auto align-self-center">
                            <div class="border-r-1 border-r-solid border-r-white">
                                <div class="bold text-md center">{{ getFirstPlayedAt() !== null ? (getFirstPlayedAt() | date) : '-' }}</div>
                                <div class="uppercase text-xs mt-2 center">{{ 'played.first' | $t }}</div>
                            </div>
                        </div>
                        <div class="flex-auto align-self-center">
                            <div>
                                <div class="bold text-md center">{{ getLastPlayedAt() !== null ? (getLastPlayedAt() | date) : '-' }}</div>
                                <div class="uppercase text-xs mt-2 center">{{ 'played.last' | $t }}</div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </ng-template>
    </section>
    <section class="large-screen-placeholder"></section>
</section>
