<section class="page-content large-screen">
    <section class="large-screen-placeholder"></section>
    <section class="content large-screen-main">
        <div *ngIf="isLoading; else loaded">
            <app-loading />
        </div>
        <ng-template #loaded>
            <section class="page-content-header bg-color-dark-grey py-2 sticky sticky-header z-10 top-0">
                <section class="page-content-header flex">
                    <div class="title flex-auto mb-3">{{ getTitle() }}</div>
                </section>
            </section>
            <section class="page-content-main">
                <div class="text-lg mb-4">{{ getTimesPlayedText() }}</div>
                <ng-container *ngFor="let item of getChartItems()">
                    <app-account-chart-item [item]="item"/>
                </ng-container>
            </section>
        </ng-template>
    </section>
    <section class="large-screen-placeholder"></section>
</section>