@import "theme.css";

.color-primary {
    color: var(--primary);
}

.color-primary-hover:hover {
    color: var(--primary);
    transition: color .2s ease-in;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.flex-auto {
    flex: auto;
}

.flex-grow, .flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-grow-4 {
    flex-grow: 4;
}

.flex-grow-5 {
    flex-grow: 5;
}

.flex-grow-6 {
    flex-grow: 6;
}

.flex-grow-8 {
    flex-grow: 8;
}

.flex-grow-10 {
    flex-grow: 10;
}

.inline-block {
    display: inline-block;
}

.mb-32 {
    margin-bottom: 32px;
}

.ml-4 {
    margin-left: 4px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-12 {
    margin-left: 12px;
}

.ml-16 {
    margin-left: 16px;
}

.mr-3 {
    margin-right: 3px;
}

.mr-4 {
    margin-right: 4px;
}

.mr-6 {
    margin-right: 6px;
}

.mr-8 {
    margin-right: 8px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-12 {
    margin-right: 12px;
}

.mr-16 {
    margin-right: 16px;
}

.mt-2 {
    margin-top: 2px;
}

.mt-4 {
    margin-top: 4px;
}

.mt-6 {
    margin-top: 6px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-48 {
    margin-top: 48px;
}

.pl-2 {
    padding-left: 2px;
}

.pl-4 {
    padding-left: 4px;
}

.pl-8 {
    padding-left: 8px;
}

.pl-16 {
    padding-left: 16px;
}

.pt-8 {
    padding-top: 8px;
}

.pointer {
    cursor: pointer;
}

.small {
    font-size: small;
}

.smaller {
    font-size: smaller;
}

.xs {
    font-size: x-small;
}

.xxs {
    font-size: xx-small;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.top-0 {
    top: 0;
} 

.z-10 {
    z-index: 10;
}

.hide {
    display: none;
}