:root {
    --primary: #a96dad;
    --white: #fafafa;
    --light-grey: #ccc;
    --dark-grey: #363737;
    --dark-grey-lighter: #4c4e4e;
    --spotify: #1ed760;
    --spotify-lighter: #21e065;
    --spotify-darker-20: #17aa4c;
}