:root {
    --primary: #a96dad;
    --primary-lighter-10: #b27cb5;
    --primary-lighter-20: #ba8abd;
    --primary-lighter-30: #c399c6;
    --white: #fafafa;
    --light-grey: #ccc;
    --dark-grey: #363737;
    --dark-grey-lighter-10: #4a4b4b;
    --dark-grey-lighter-20: #5e5f5f;
    --dark-grey-lighter-30: #727474;
    --dark-grey-lighter: #4c4e4e;
    --spotify: #1ed760;
    --spotify-lighter: #21e065;
    --spotify-darker-20: #17aa4c;
    --warning: #b91c1c;
}