<div class="px-1 py-3 mt-4 flex bg-color-dark-grey-lighter-10 hover:bg-color-dark-grey-lighter-20 transition-colors rounded-md pointer" (click)="goToItem()">
    <ng-container *ngIf="isPlaceVisible()">
        <div class="place-container flex justify-content-center align-self-center">
            <span class="inline-block text-xl bold">{{ getPlace() }}</span>
        </div>
    </ng-container>
    <div class="image-container flex-auto flex justify-content-center align-self-center px-2">
        <img loading="lazy" [src]="getImageUrl()"/>
    </div>
    <div class="details-container pl-2 flex align-items-center">
        <div>
            <div>
                <span class="bold">{{ getArtists() }}</span>
            </div>
            <ng-container *ngIf="getName() !== null">
                <div class="mt-1"><a>{{ getName() }}</a></div>
            </ng-container>
        </div>
    </div>
    <ng-container *ngIf="isPlayCountVisible()">
        <div class="count-container flex justify-content-center align-self-center">
            <span class="inline-block text-xl bold pl-2 pr-3">{{ getPlayCount() }}</span>
        </div>
    </ng-container>
</div>