<div class="px-1 py-3 mt-4 flex bg-color-dark-grey-lighter-20 hover:bg-color-dark-grey-lighter-30 transition-colors rounded-md pointer">
    <div class="image-container flex-auto flex justify-content-center align-self-center">
        <img loading="lazy" [src]="getImageUrl()" height="64" width="64" />
    </div>
    <div class="track-details-container pl-2 flex flex-col justify-content-center">
        <div class="bold" *ngIf="getArtists() !== null">{{ getArtists() }}</div>
        <div class="mt-1" [ngClass]="getArtists() === null ? 'bold' : ''">{{ getName() }}</div>
    </div>
    <div class="flex-auto flex justify-content-center align-self-center" *ngIf="getCount() !== null">
        <span>{{ getCount() }}</span>
    </div>
</div>