<section class="page-content large-screen" appScrollNearEnd (nearEnd)="onNearEndScroll()">
    <section class="large-screen-placeholder"></section>
    <section class="content large-screen-main">
        <section class="page-content-header flex">
            <div class="title flex-auto mb-3">{{ 'recentlyPlayedTracks.title' | $t }}</div>
            <div class="flex-auto flex justify-content-flex-end pt-8">
                <app-reload class="hide"></app-reload>
                <app-filter class="hide"></app-filter>
            </div>
        </section>
        <section class="page-content-main">
            <ng-container *ngIf="playedTracksOnDate.length > 0; else emptyList">
                <ng-container *ngFor="let playedTrackGroup of playedTracksOnDate">
                    <div>
                        <div class="sticky top-0 z-10 sticky-header">
                            <div class="relative bold">{{ playedTrackGroup.date | date:'EEE MMM d, YYY' }}</div>
                        </div>
                        <app-played-track *ngFor="let playedTrack of playedTrackGroup.tracks" [playedTrack]="playedTrack" (click)="goToTrack(playedTrack.track.id, playedTrack.track.name)" />
                    </div>
                </ng-container>
            </ng-container>
            <div class="center" *ngIf="isLoadMoreAvailable()">
                <button class="button-secondary" (click)="loadMore()">{{ 'recentlyPlayedTracks.loadMore' | $t }}</button>
            </div>
            <ng-container *ngIf="loading">
                <app-loading />
            </ng-container>
            <ng-template #emptyList>
                <div class="mt-8">{{ 'recentlyPlayedTracks.empty' | $t }}</div>
            </ng-template>    
        </section>
    </section>
    <section class="large-screen-placeholder"></section>
</section>