<span class="pointer" [title]="'reload' | $t" style="height:23.5px;width:23.5px;display:inline-block;position:relative;top:1.5px;">
    <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" stroke-width="6" [attr.stroke]="color" fill="none">
        <g stroke-width="0"></g>
        <g stroke-linecap="round" stroke-linejoin="round"></g>
        <g>
            <path d="M53.72,36.61A21.91,21.91,0,1,1,50.37,20.1"></path>
            <polyline points="51.72 7.85 50.85 20.78 37.92 19.9"></polyline>
            <path d="M53.72,36.61A21.91,21.91,0,1,1,50.37,20.1"></path>
            <polyline points="51.72 7.85 50.85 20.78 37.92 19.9"></polyline>
        </g>
    </svg>
</span>