<div class="bg-color-cyan-700 p-12 rounded-lg">
    <div class="flex justify-content-between">
        <div class="capitalize text-xl bold mb-20">{{ getProviderName() }}</div>
        <div>
            <app-delete />
        </div>
    </div>

    <div class="mb-20">
        <div class="uppercase text-xs mb-6">Scopes</div>
        <div><span class="inline-block p-6 mr-8 bg-color-gray-200 text-stone-700 rounded-lg" *ngFor="let scope of getScopes()">{{ scope }}</span></div>
    </div>

    <div>
        <div class="uppercase text-xs mb-6">Created</div>
        <div>{{ getCreatedAt() | date }}</div>
    </div>
</div>