<section class="page-content large-screen">
    <section class="large-screen-placeholder"></section>
    <section class="content large-screen-main">
        <section class="page-content-header flex">
            <div class="title flex-auto mb-3">{{ 'charts.title' | $t }}</div>
        </section>
        <section class="page-content-main">
            <div class="flex justify-content-center mt-2 mb-6">
                <span class="inline-block mr-6 tab" [ngClass]="{ 'tab-active': getSelectedChart() === 'generated' }" (click)="selectGenerated()">{{ 'charts.generated' | $t }}</span>
                <span class="inline-block tab" [ngClass]="{ 'tab-active': getSelectedChart() === 'personal' }" (click)="selectPersonal()">{{ 'charts.personal' | $t }}</span>
            </div>

            <div>
                <app-chart-generated *ngIf="getSelectedChart() === 'generated'"></app-chart-generated>
                <app-chart-personal *ngIf="getSelectedChart() === 'personal'"></app-chart-personal>
            </div>
        </section>
    </section>
    <section class="large-screen-placeholder"></section>
</section>
